<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="px-2 mx-3" href="#">
      <img src="assets/logomkcl.svg" alt="" width="80" height="70" />
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse text-center my-2"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="navbar-brand fs-6 mx-2" href="#">
            <b>INSIGHT COMPUTER EDUCATION</b> <br />
            ALC Code - 34210103
          </a>
        </li>
      </ul>

      <div class="d-flex mx-4">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100">
          <li class="nav-item m-1">
            <span class="btn btn-info">Home</span>
          </li>
          <li class="nav-item m-1">
            <span class="btn btn-info">Courses</span>
          </li>
          <li class="nav-item m-1">
            <span class="btn btn-info">Gallary</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
