<div class="container-fliud p-4 contact">
  <div class="row justify-content-around align-items-center">
    <div class="col-sm-8 col-md-4 m-2">
      <h1 class="align-left name mt-4">
        <strong style="font-family: 'Bubblegum Sans', cursive">
          Contact Us</strong
        >
      </h1>
      <hr />
      <div class="align-left my-2 p-2 fs-5 address">
        <i class="bi bi-person-bounding-box"></i> Mr. ASHOK DHOKE <br />
        <i class="bi bi-phone"></i> Mobile No: +91-8007275291 <br />
        <i class="bi bi-envelope"></i> Email: 34210103@mkcl.org <br />

        <i class="bi bi-geo-alt"></i>Address: Urjanagar Kondi, Ward No. 5, Near
        Durgapur Police Station.
      </div>
    </div>
    <div class="col-sm-8 col-md-4 align-center m-2">
      <h5>Locate Us on Google Maps</h5>
      <hr />
      <div class="border rounded">
        <!--The element for the map -->
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22736.689471104914!2d79.32323263989952!3d19.9935296131519!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4fb6d185695bb2e6!2sINSIGHT%20COMPUTER%20EDUCATION!5e0!3m2!1sen!2sin!4v1634992543158!5m2!1sen!2sin"
          id="map"
          allowfullscreen=""
          loading="lazy"
        ></iframe>
      </div>
    </div>
  </div>
</div>
