<div class="container-fliud p-4 info">
  <div class="row justify-content-around align-items-center">
    <div class="col-sm-8 col-md-4 m-2">
      <h1 class="align-left name mt-4">
        <strong style="font-family: 'Bubblegum Sans', cursive">
          INSIGHT COMPUTER EDUCATION</strong
        >
      </h1>

      <div class="align-left my-2 p-2 info-desc">
        <hr />
        <p>
          INSIGHT COMPUTER EDUCATION is an Authorised Learning Center of
          Maharashtra Knowledge Corporation Limited (MKCL). The Institute is run
          by MR. ASHOK DHOKE Sir. He has more than 7+ years of Experience in
          teaching various courses offered by MKCL.
        </p>
        <hr />
        <p>
          We offer a wide range of courses such as MS-CIT, KLic Tally, KLic
          Typing etc... To check out all the courses that we offer click
          <span class="btn btn-success">Here</span>
        </p>
      </div>
    </div>
    <div class="col-sm-8 col-md-4 align-center m-2">
      <div class="border border-4 rounded border-secondary">
        <img src="assets/ashok sir.jpg" alt="Ashok Dhoke" class="info-img" />
      </div>
    </div>
  </div>
</div>
