<div class="container-fliud p-4 info" id="info">
  <div class="row justify-content-around align-items-center">
    <div class="col-sm-8 col-md-4 m-2">
      <h1 class="align-left name mt-4">
        <strong style="font-family: 'Bubblegum Sans', cursive">
          INSIGHT COMPUTER EDUCATION</strong
        >
      </h1>

      <div class="align-left my-2 p-2 info-desc">
        <hr />
        <p style="font-family: 'Space Grotesk', sans-serif">
          <strong>INSIGHT COMPUTER EDUCATION </strong> is an Authorised Learning
          Center <strong>(ALC)</strong> of
          <strong> Maharashtra Knowledge Corporation Limited (MKCL)</strong>.
          The Institute is run by <strong>MR. ASHOK DHOKE</strong> Sir. He has
          more than 10+ years of Experience in teaching various courses offered
          by MKCL.
        </p>
        <hr />
        <!-- <p style="font-family: 'Space Grotesk', sans-serif">
          We offer a wide range of courses such as
          <strong>MS-CIT, KLic Tally, KLic Typing</strong> etc... To check out
          all the courses that we offer click
          <span class="btn btn-success">Here</span>
        </p> -->
      </div>
    </div>
    <div class="col-sm-8 col-md-4 align-center m-2">
      <div class="border border-4 rounded">
        <img src="assets/ashok sir.jpg" alt="Ashok Dhoke" class="info-img" />
      </div>
    </div>
  </div>
</div>
