.info {
  background-color: rgb(231, 236, 236);
}
.name {
  font-size: 3rem;
  color: rgb(219, 39, 39);
}
.info-desc {
  line-height: 2rem;
  letter-spacing: 1px;
  font-family: monospace;
  font-size: larger;
  color: black;
}
.info-img {
  width: 100%;
}
