<div class="container text-center" id="prod">
  <hr />
  <div><h2>Enroll now for the courses</h2></div>
  <hr />
  <br />
  <div class="row m-3">
    <div class="col m-3">
      <button
        class="btn btn-primary"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasBottom"
        aria-controls="offcanvasBottom"
      >
        <img
          src="assets/ms.jpg"
          style="width: 12rem; height: 10rem"
          class="border rounded"
        />
      </button>

      <div
        class="offcanvas offcanvas-bottom"
        tabindex="-1"
        id="offcanvasBottom"
        aria-labelledby="offcanvasBottomLabel"
      >
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasBottomLabel">
            Offcanvas bottom
          </h5>
          <button
            type="button"
            class="btn-close text-reset"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <div class="offcanvas-body small">...</div>
      </div>
    </div>
    <div class="col m-3">
      <img
        src="assets/tly.jpg"
        style="width: 12rem; height: 10rem"
        class="border rounded"
      />
    </div>
    <div class="col m-3">
      <img
        src="assets/adtly.jpg"
        style="width: 12rem; height: 10rem"
        class="border rounded"
      />
    </div>
  </div>
  <div class="row m-3">
    <div class="col m-3">
      <img
        src="assets/klic.jpg"
        style="width: 12rem; height: 10rem"
        class="border rounded"
      />
    </div>
    <div class="col m-3">
      <img
        src="assets/typing.jpg"
        style="width: 12rem; height: 10rem"
        class="border rounded"
      />
    </div>
    <div class="col m-3">
      <img
        src="assets/eng.jpg"
        style="width: 12rem; height: 10rem"
        class="border rounded"
      />
    </div>
  </div>
  <div class="row m-3">
    <div class="col m-3">
      <img
        src="assets/dip.jpg"
        style="width: 12rem; height: 10rem"
        class="border rounded"
      />
    </div>
    <div class="col m-3">
      <img
        src="assets/cpp.jpg"
        style="width: 12rem; height: 10rem"
        class="border rounded"
      />
    </div>
    <div class="col m-3">
      <img
        src="assets/cprog.jpg"
        style="width: 12rem; height: 10rem"
        class="border rounded"
      />
    </div>
  </div>
</div>
