<div class="container text-center" id="prod">
  <hr />
  <div><h2>Enroll now for the courses</h2></div>
  <hr />
  <br />
  <div class="row m-auto align-items-center justify-content-around">
    <div class="col-md-3 m-3" *ngFor="let url of links; let i = index">
      <a href="{{ url }}" target="_blank">
        <img
          src="assets/p{{ i + 1 }}.jpg"
          style="width: 12rem; height: 10rem"
          class="border rounded"
        />
      </a>
    </div>
  </div>
  <!-- <div class="col m-3">
      <img
        src="assets/tly.jpg"
        style="width: 12rem; height: 10rem"
        class="border rounded"
      />
    </div>
    <div class="col m-3">
      <img
        src="assets/adtly.jpg"
        style="width: 12rem; height: 10rem"
        class="border rounded"
      />
    </div>
  </div>
  <div class="row m-3">
    <div class="col m-3">
      <img
        src="assets/klic.jpg"
        style="width: 12rem; height: 10rem"
        class="border rounded"
      />
    </div>
    <div class="col m-3">
      <img
        src="assets/typing.jpg"
        style="width: 12rem; height: 10rem"
        class="border rounded"
      />
    </div>
    <div class="col m-3">
      <img
        src="assets/eng.jpg"
        style="width: 12rem; height: 10rem"
        class="border rounded"
      />
    </div>
  </div>
  <div class="row m-3">
    <div class="col m-3">
      <img
        src="assets/dip.jpg"
        style="width: 12rem; height: 10rem"
        class="border rounded"
      />
    </div>
    <div class="col m-3">
      <img
        src="assets/cpp.jpg"
        style="width: 12rem; height: 10rem"
        class="border rounded"
      />
    </div>
    <div class="col m-3">
      <img
        src="assets/cprog.jpg"
        style="width: 12rem; height: 10rem"
        class="border rounded"
      />
    </div>
  </div> -->
</div>
